<!DOCTYPE html>
<html>
<head>
  <title>FitnessGuard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<% bigiconpath = "http://fitnessguard.ronnyworm.de/assets/Arnold-cd6ec91818f6a986cbab109ec9766679.jpeg" %>
<link rel='apple-touch-icon-precomposed' href='<%= bigiconpath %>'>
<link rel='apple-touch-icon' href='<%= bigiconpath %>'>

  <%= favicon_link_tag %>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>

<%# image_tag("Arnold.jpeg", :size => "35", :alt => "Logo", style: "display:inline-block") %>
<div class="band navigation">
	<nav class="primary container">
	
		<ul>
			<li <%= is_active? "welcome" %>><%= link_to 'Aktivität', root_path %></li>
			<li <%= is_active? "runs" %>>
				<%= link_to compact_runs_path do %>
					Laufen
				<% end %>

					<ul>
						<li <%= is_active? "runs#new" %>>
							<%= link_to new_run_path do %>
								<span>- </span>neu
							<% end %>
						</li>

						<li <%= is_active? "runs#index" %>>
							<%= link_to runs_path do %>
								<span>- </span>Erfasst - alles
							<% end %>
						</li>

						<li <%= is_active? "runs#compact" %>>
							<%= link_to compact_runs_path do %>
								<span>- </span>Erfasst - kompakt
							<% end %>
						</li>

						<li <%= is_active? "runs#stats" %>>
							<%= link_to stats_runs_path do %>
								<span>- </span>Statistik
							<% end %>
						</li>
					</ul>
			</li>
			<li <%= is_active? "tracks" %>><%= link_to 'Strecken', tracks_path %></li>
	
		</ul>
	
	</nav>

</div>

<%= yield %>

</body>
</html>
