<% if browser.mobile? %>
  <h1>Strecken</h1>
<% end %>

<% @regions.each do |region| %>
  <h2><%= region.name %></h2>
  <% region.starting_point.each do |starting_point| %>
    <h3><%= starting_point.name %></h3>
    <ul>
      <% starting_point.track.each do |track| %>
        <li>
          <a href="<%= track.map_link %>"><%= track.name %> (<%= track.km.round(1) if track.km %> km<%= " nachttauglich" if track.night_track %>)</a> <%= link_to "bearbeiten", edit_track_path(track), style: "font-size: 6pt" %>
        </li>
      <% end %>
    </ul>
  <% end %>
  
<% end %>



<%= link_to ' Neue Strecke', new_track_path, "class" => "button icon-new" %>
