<p id="notice"><%= notice %></p>

<p>
  <strong>Starting point:</strong>
  <%= @track.starting_point_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Night track:</strong>
  <%= @track.night_track %>
</p>

<p>
  <strong>Map link:</strong>
  <%= @track.map_link %>
</p>

<p>
  <strong>Km:</strong>
  <%= @track.km %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @track.comments %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
