<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> verhinderten, dass der Lauf gespeichert werden konnte:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.text_field :email, placeholder: "E-Mail" %>
  </div>
  <div class="actions">
    <%= f.submit "Speichern" %>
  </div>
<% end %>
