<%= form_for(@run) do |f| %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> verhinderten, dass der Lauf gespeichert werden konnte:</h2>

      <ul>
      <% @run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.text_field :participants, "placeholder" => "Teilnehmer", "value" => "Ronny" %>
  </div>
  <div class="field">
    <%= f.number_field :km_10, "placeholder" => "Kilometer * 10", "pattern" => "[0-9]*" %>
  </div>
  <div class="field">
    <%= f.number_field :duration_mmss, "placeholder" => "mmss ohne :", "pattern" => "[0-9]*" %>
  </div>
  <div class="field">
    <%= f.number_field :max_pulse, "placeholder" => "Max Puls", "pattern" => "[0-9]*" %>
  </div>
  <div class="field">
    <%= f.text_area :comments, cols: "30", rows: "5", placeholder: "Kommentare" %>
  </div>
  <div class="field">
    <%= f.text_field :map_link, placeholder: "Google Maps Link" %>
  </div>
  <div class="actions">
    <%# Ich schaffe es nicht, hier ein Icon hinzuzufügen ...%>
    <%= f.submit "Speichern" %>
  </div>
<% end %>
