<h1><%= image_tag("Arnold.jpeg", :size => "35", :alt => "Logo") %>Läufe kompakt</h1>

<%= link_to ' Lauf', new_run_path, "class" => "button icon-new" %>
<%= link_to 'vollständige Ansicht', runs_path, "class" => "button" %>
<%= link_to 'Strecken', tracks_path, "class" => "button" %>

<table>
  <thead>
    <tr>
      <th class="icon-date"></th>
      <th class="icon-km"></th>
      <th class="icon-duration"></th>
      <th class="icon-min_km"></th>
      <th class="icon-km_h"></th>
      <th class="icon-power"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <%= link_to run  do %>
        <tr class = "link_row" data-link="<%= run_path(run) %>">
          <td><%= run.date %></td>
          <td><%= run.km_rounded %></td>
          <td><%= run.duration_mmcolonss %></td>
          <td><%= run.min_km %></td>
          <td><%= run.km_h %></td>
          <td><%= run.power %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= javascript_include_tag 'clickable_row' %>