<h1>Läufe kompakt</h1>

<%= link_to ' Lauf', new_run_path, "class" => "button icon-new" %>

<table>
  <thead>
    <tr>
      <th class="icon-date"></th>
      <th class="icon-km"></th>
      <th class="icon-duration"></th>
      <th class="icon-comments"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <%= link_to run  do %>
        <tr class = "link_row" data-link="<%= run_path(run) %>">
          <td><%= run.date %></td>
          <td><%= run.km %></td>
          <td><%= run.duration_mmss %></td>
          <td><%= run.comments.blank? ? "" : "Ja" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'vollständige Ansicht', runs_path, "class" => "button" %>

<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>