<table>
  <thead>
    <tr>
      <th class="icon-date"></th>
      <th class="icon-participants"></th>
      <th class="icon-km"></th>
      <th class="icon-duration"></th>
      <th class="icon-max_pulse"></th>
      <th class="icon-min_km"></th>
      <th class="icon-km_h"></th>
      <th class="icon-power"></th>
      <th class="icon-comments"></th>
      <th class="icon-map_link"></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr class = "link_row" data-link="<%= run_path(run) %>">
        <td><%= run.date %></td>
        <td><%= run.participants %></td>
        <td><%= run.km_rounded %></td>
        <td><%= run.duration_mmcolonss %></td>
        <td><%= run.max_pulse %></td>
        <td><%= run.min_km %></td>
        <td><%= run.km_h %></td>
        <td><%= run.power %></td>
        <td><%= run.comments.blank? ? "" : raw("<span class = 'icon-comments'></span>") %></td>
        <% if run.map_link.blank? %>
          <td></td>
        <% else %>
          <td><%= link_to 'Maps ...', run.map_link, class: "button", target: "_blank" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<%= javascript_include_tag 'clickable_row' %>