<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="icon-date"></td>
      <td><%= @run.date %></td>
    </tr>
    
    <tr>
      <td class="icon-participants"></td>
      <td><%= @run.participants %></td>
    </tr>
    <tr>
      <td class="icon-km"></td>
      <td><%= @run.km_rounded %></td>
    </tr>
    <tr>
      <td class="icon-duration"></td>
      <td><%= @run.duration_mmcolonss %></td>
    </tr>
    <tr>
      <td class="icon-max_pulse"></td>
      <td><%= @run.max_pulse %></td>
    </tr>
    <tr>
      <td class="icon-min_km"></td>
      <td><%= @run.min_km %></td>
    </tr>
    <tr>
      <td class="icon-km_h"></td>
      <td><%= @run.km_h %></td>
    </tr>
    <tr>
      <td class="icon-power"></td>
      <td><%= @run.power %></td>
    </tr>
    <tr>
      <td class="icon-comments"></td>
      <td><%= raw(nl2br(h(@run.comments))) %></td>
    </tr>
    <tr>
      <% if @run.map_link.blank? %>
        <td class="icon-map_link"></td>
        <td></td>
      <% else %>
        <td class="icon-map_link"></td>
        <td><%= link_to 'Maps ...', @run.map_link, class: "button", target: "_blank" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to '', compact_runs_path, class: "button icon-back" %>
<%= link_to '', edit_run_path(@run), class: "button icon-edit" %>

<% if current_user and current_user.email.include? "ronny" %>
  <%= link_to '', @run, method: :delete, data: { confirm: 'Are you sure?' }, class: "button icon-delete" %>
<% end %>
